node_modules/
package-lock.json
scripts/__pycache__
.idea/
.ipynb_checkpoints

*/msgtojs.txt
*/scene_name.txt
.secrets.yaml
*pyc


temp/

# Data
data_preprocess/*/*/*.JPG
data_preprocess/*/imagery-tiles
data_preprocess/*/terrain-tiles
data_preprocess/*/pointCloud-tiles
data_preprocess/*/tilesets
data_preprocess/*/*surface3d*/
data_preprocess/*/*image10*/
scripts/presets/demo*/



*/build/*

presets/
drone_data/
