node_modules/
package-lock.json
scripts/__pycache__
.idea/
.ipynb_checkpoints

*/msgtojs.txt
*/scene_name.txt
data_preprocess/*/*surface3d*
data_preprocess/*/*image10*
data_preprocess/*/imagery-tiles
data_preprocess/*/terrain-tiles
data_preprocess/*/pointCloud-tiles
data_preprocess/*/tilesets
scripts/presets/demo*/

temp/


# Data 
data_sample/*/*.las
data_sample/*/*.tif
data_sample/*/*.JPG
data_preprocess/*/*/*.JPG
.secrets.yaml
*pyc
